/*@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');


label #btn,
label #cancel{
    color:black;
    font-size:30px;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (min-width: 1300px) {
    
    .section.content.sau{
        min-height: 100%;
        margin-bottom:-100px;
    }
    /*si no poenrlo con el sue*/
    section.content.sau:after{
        content:"";
        display: block;

    }
    section.content.sau:after, footer{
        height: 100px;
    }
    body{
        
        /*
        !Esto es del footer
        background-color: #171A1F;*/
    }
    

  
    
}


@media (max-width:970px) {
    
  label #btn{
      display:block;
  }
  ul{
      position:fixed;
      width: 100%;
      height: 100vh;
      background: #2E2F2FFF;
      top:80px;
      left:-100%;
      text-align: center;
      /*transition: all .5s;*/
}
}




/* ? Cuando llegue a esta resolución, va a actuar asi: */
@media (max-width:1006px) {
    
    label #btn{
        display:block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #2E2F2FFF;
        top:80px;
        left:-100%;
        text-align: center;
        /*transition: all .5s;*/
}
}


/*!Aqui se acabó lo del nav , empieza el body y footer*/



.content{
    padding: 30px;

}
.sau .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.titulo{
  padding-right: 300px;
  font-size: 30px !important;
  font-weight: normal;
  font-family: 'Manrope';
}


/*? Estas son las cajas de cada cosa*/
.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #171A1FFF;
    padding-top: 70px;
    padding-left: 250px;
}
.box-container a{
  color:black;
  text-decoration:none;
}
.box-container .box{
    height: 13.5rem;
    width: 13.5rem;
    text-align: center;
    border-radius: 0.5rem;
    margin:1rem
}
.box img{
    width: 8.5rem;
    
}
.box p,h3{
    
    font-family: 'Lexend';
    font-weight: bold;
}
.box p{
    color:#9095A1;
}

/*! Esto de pregunta podría ser modificado para que quede más acorde como el original*/
.fa-question-circle-o{
    margin-left: 170px;
    margin-top: 10px;
    
}
#preguntaVentas{

    color: #FFD317;
}
#preguntaPrecios{
    color: #62CD14FF;
}
#preguntaUsuarios{
    color: #15ABFFFF;
}
#preguntaReportes{
    color: #7D6600FF;
}
#preguntaBackups{
    color: #FF56A5FF;
}



#cajaVentas{
    background: #FFF5CC;
}
.ventas-box {
    position: relative; /* Enable positioning of child elements */
    overflow: hidden; /* Prevent content from overflowing the box */
  }
  
  .ventas-box .fa-question-circle-o {
    position: relative;
    z-index: 1;
  }
  
  .ventas-box .cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }
  
.ventas-box:hover::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Position the overlay element absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Match the width of the box */
    height: 100%; /* Match the height of the box */
    background-color: rgba(236, 245, 112, 0.3);/* Semi-transparent overlay color */
    transition: background-color 0.2s ease-in-out; /* Smooth transition on hover */
  }



#cajaPrecios{
    background: #EEFDF3;
}
.precios-box {
    position: relative; /* Enable positioning of child elements */
    overflow: hidden; /* Prevent content from overflowing the box */
  }
  
  .precios-box .fa-question-circle-o {
    position: relative;
    z-index: 1;
  }
  
  .precios-box .cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }
.precios-box:hover::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Position the overlay element absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Match the width of the box */
    height: 100%; /* Match the height of the box */
    background-color: rgba(204, 247, 174, 0.3); /* Semi-transparent overlay color */
    transition: background-color 0.2s ease-in-out; /* Smooth transition on hover */
  }

#cajaUsuarios{
    background: #F0F9FF;
}
.usuarios-box {
    position: relative; /* Enable positioning of child elements */
    overflow: hidden; /* Prevent content from overflowing the box */
  }
  .usuarios-box .fa-question-circle-o {
    position: relative;
    z-index: 1;
  }
  
  .usuarios-box .cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }
.usuarios-box:hover::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Position the overlay element absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Match the width of the box */
    height: 100%; /* Match the height of the box */
    background-color: rgba(192, 249, 255, 0.3);/* Semi-transparent overlay color */
    transition: background-color 0.2s ease-in-out; /* Smooth transition on hover */
  }



#cajaReportes{
    background: #FFFAE1;
}
.reportes-box {
    position: relative; /* Enable positioning of child elements */
    overflow: hidden; /* Prevent content from overflowing the box */
  }
  .reportes-box .fa-question-circle-o {
    position: relative;
    z-index: 1;
  }
  
  .reportes-box .cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }
.reportes-box:hover::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Position the overlay element absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Match the width of the box */
    height: 100%; /* Match the height of the box */
    background-color: rgba(255, 250, 225, 0.3);/* Semi-transparent overlay color */
    transition: background-color 0.2s ease-in-out; /* Smooth transition on hover */
  }

#cajaBackup{
    background: #FFE5F8;
}
.backup-box {
    position: relative; /* Enable positioning of child elements */
    overflow: hidden; /* Prevent content from overflowing the box */
  }
  
  .backup-box .fa-question-circle-o {
    position: relative;
    z-index: 1;
  }
  
  .backup-box .cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }


.backup-box:hover::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Position the overlay element absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Match the width of the box */
    height: 100%; /* Match the height of the box */
    background-color: rgba(255, 229, 248, 0.3); /* Semi-transparent overlay color */
    transition: background-color 0.2s ease-in-out; /* Smooth transition on hover */
        
  }

