
@media (max-width:2500px) {

    #nav-link{
      width: 40%;
      margin-top: 50px !important;
      margin-right: -10px !important;
      }
  
  
    
  }


@media (min-width:1652px) {
    .drop-down li{
      
      
      width: 40%;
      margin-top: 10px !important;
      margin-right: -10px !important;
    }
    
  }
  
  @media (max-width:1400px) {
    #nav-link{
        width: 40%;
        
        margin-top:70px!important;;
        margin-right:-130px!important;
      }
    
  }
  