 
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');

#requisito {
  margin-top: 80px !important;
  margin-right:20px!important;
  width: 17% !important;
}
 @media (min-width:1401px) {
    
    #NombreAP,#ApellidoMAP,#CuidadPer,#EmailPer,#GeneroPer,#NombreUsuPer {
        margin-left: 400px!important;
      }
      .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
        margin-top: 25px!important;}


      #divLogo{        
        margin-left: 1250px;
        
        margin-top: -200px;
      }
      #LogotipoPer,#ExaminarPerfilAdmin {
        display: block;
      }
      #ExaminarPerfilAdmin {
        margin-left: -100px;
      }
      #BtnGuardarPA {
        position: absolute;
        margin-top: 494px;
        margin-left: 1332px;
        width: 200px;
        padding: 15px;
        
        background-color:#0C6A6F;
        color:#DEE1E6;
        font-family: "Manrope";
      }
      
#MensajeInferiorPA {
    max-width: 44%;
    margin-top:155px;
    margin-left: 332px;
  
  }
  
  #lblSubirLogo {
    
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    background-color:#0C6A6F;
    padding: 7px;
    color:#DEE1E6;
    font-size: "Manrope";
  } 
 }



 @media (max-width:1400px) {

*{
    overflow: hidden;
}

    #NombreAP,#ApellidoMAP,#CuidadPer,#EmailPer,#GeneroPer,#NombreUsuPer {
        margin-left: 400px!important;
      }
      input{
        display: block;
      }
    
#MensajeInferiorPA {
  max-width: 34%;

  margin-left: 300px;

}
      #divLogo{
        margin-left: 1100px;
        margin-top: -200px;
      }
      #LogotipoPer,#ExaminarPerfilAdmin {
        display: block;
      }
      #ExaminarPerfilAdmin {
        margin-left: -100px;
      } 
      #BtnCancelarPA{
        margin-left:800px;
        margin-top:-50px;
        width: 200px;
      }
      #BtnGuardarPA {
        margin-left: 1058px;
        width: 200px;
        margin-top: -50px;
        background-color:#0C6A6F;
        color:#DEE1E6;
        font-size: "Manrope";
      }
      .izquierdo{
        margin-left:400px!important;
      }
      
      #lblSubirLogo {
        cursor: pointer;
        margin-top: 10px;
        position: absolute;
        background-color:#0C6A6F;
        padding: 7px;
        color:#DEE1E6;
        font-size: "Manrope";
      }
 }
 