body{
    overflow: hidden;
}

@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 2rem;
        margin-top: -40px!important;
    }
    .ventaPor{
        margin-top:-40px!important;
    }
}
@media (min-width: 1400px) {
    .h2, h2 {
        font-size: 2rem;
    }
    .ventaPor{
        margin-top:0px!important;
    }
}